body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding-left: 10px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    padding-top: 100px;
}
p{
    text-align: justify;
    color:dimgray;
}
.half-width{
    width: 40%;
    float: left;
    padding-top: 10px;
    padding-left: 100px;
}
.half-width img{
    width: 100%;
}
.special-color{
    color: hotpink;

}
.link-button{
    background-image: linear-gradient(45deg, pink,hotpink);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 7px;
    color: white;
}
.top-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 700px;
    padding-bottom: 200px;
}
.second-section{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.center-text{
    text-align: center;
    padding-bottom: 50px;
}
.work{
    width: 30%;
    float: left;
    padding-left: 2.5%;
}
.work img{
    width: 100%;
}
.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.footer-section{
    padding: 0 350px;
}
.footer-h2{
    text-align: center;
    padding-bottom: 50px;
}
.name{
    text-align: center;
    font-weight: 500;
    color:black;
}
.footer-title{
    text-align: center;
    padding-bottom: 50px;
}
.footer-p{
    text-align: center;
    padding-bottom: 50px;
}
.contact{
    width: 100%;
    height: 180px;
    background-color: hotpink;
    border-radius: 7px;
    padding: 30px 0;
}
.contact-name{
    text-align: center;
    color:white;
}
.contact-link{
    text-align: center;
    color: white;
}
.footer-section{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}